@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./analogue-font.css";
@import "./creattion-font.css";

.zoom-effect {
  transition: transform 3s ease; /* 3-second zoom effect */
  transform: scale(1);
}
.no-scroll {
  overflow: hidden;
}
