@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./analogue-font.css";


.zoom-image {
  transform-origin: center center;
  transform: scale(2);
  transition-property: transform;
  transition-duration: 2s;
  transition-timing-function: linear;
}